---
title: About us
---
<div class="o-wrapper">
    <h1>Bringing together passionate software engineers since 2012</h1>
</div>

<figure>
    <img src="everyone.jpg"/>
    <figcaption>Our Frontend Experts</figcaption>
</figure>

<div class="o-wrapper">
    <p>In 2012 FrontMen was founded to bring together passionate software engineers with the shared believe that
        JavaScript would become the dominant development language powering the frontend of applications and only
        organizations using this new wave of technologies best were in favour to succeed.</p>
    <p>The story became true. And will become even more. We started with a small team of senior frontend experts,
        building apps and implementing a modern stack for early adopting clients. Today, we set standards and realize
        application environments that secure our clients can deliver-fast, meet new requirements and answer the
        increasing expectations of their users every day.</p>

    <h2>How we work</h2>

    <h3>Working with the client</h3>
    <p>Proin et vehicula lectus, vel semper est. Proin pulvinar sit amet risus ac sodales. Mauris eget accumsan velit,
        quis maximus leo. Cras a tincidunt risus, iaculis congue nunc. Ut molestie posuere elementum. Suspendisse non
        eros sit amet leo molestie porttitor. Etiam dolor ex, finibus quis enim et, ullamcorper suscipit lorem.</p>

    <h3>Delevering expert teams</h3>
    <p>Proin et vehicula lectus, vel semper est. Proin pulvinar sit amet risus ac sodales. Mauris eget accumsan velit,
        quis maximus leo. Cras a tincidunt risus, iaculis congue nunc. Ut molestie posuere elementum. Suspendisse non
        eros sit amet leo molestie porttitor. Etiam dolor ex, finibus quis enim et, ullamcorper suscipit lorem.</p>
</div>

<%- include('./partials/medium', {
    title: "Art of debugging with Chrome DevTools",
    image: "https://cdn-images-1.medium.com/max/2000/1*K2Utn78MaVzlUeIagOEZRg.png",
    url: "https://medium.com/frontmen/art-of-debugging-with-chrome-devtools-ab7b5fd8e0b4",
    excerpt: "Chrome DevTools come with an array of features that help developers debug their apps effectively, and therefore find and fix the bugs faster. There are a lot of power tools in devtools which are not quite well-known amongst the developers."
}) %>

<div class="o-wrapper">
    <h3>Frontend Component Library</h3>
    <figure>
        <img src="http://placehold.it/900x300?text=Picture+David"/>
    </figure>
    <p>Proin et vehicula lectus, vel semper est. Proin pulvinar sit amet risus ac sodales. Mauris eget accumsan velit,
        quis maximus leo. Cras a tincidunt risus, iaculis congue nunc. Ut molestie posuere elementum. Suspendisse non
        eros sit amet leo molestie porttitor. Etiam dolor ex, finibus quis enim et, ullamcorper suscipit lorem.</p>

    <h3>100% Agile</h3>
    <p>Proin et vehicula lectus, vel semper est. Proin pulvinar sit amet risus ac sodales. Mauris eget accumsan velit,
        quis maximus leo. Cras a tincidunt risus, iaculis congue nunc. Ut molestie posuere elementum. Suspendisse non
        eros sit amet leo molestie porttitor. Etiam dolor ex, finibus quis enim et, ullamcorper suscipit lorem.</p>

    <h3>Frontend Strategy</h3>
    <p>Proin et vehicula lectus, vel semper est. Proin pulvinar sit amet risus ac sodales. Mauris eget accumsan velit,
        quis maximus leo. Cras a tincidunt risus, iaculis congue nunc. Ut molestie posuere elementum. Suspendisse non
        eros sit amet leo molestie porttitor. Etiam dolor ex, finibus quis enim et, ullamcorper suscipit lorem.</p>
</div>
