---
title: About us
---
<div class="o-wrapper c-page-intro">
    <h1 class="c-page-intro__title">We get your apps out there. Faster and better</h1>
    <p class="c-page-intro__excerpt">Frontmen was established in 2012. It has since grown to a company of almost 100 enthusiastic developers and architects.
        Professionals working in small teams at (and with) our clients to create the best frontend applications based
        on the latest JavaScript standards. With us, the app in itself is never the end goal. We deliver something that
        lasts longer: the power and the tools to innovate faster and better in the future.</p>
</div>

<div class="o-wrapper">

    <%- include('./_components/image', {
    title: "",
    image: "about-fm.png"
    }) %>

</div>

<div class="o-wrapper-content">

    <%- include('./_components/blockquote', {
        quote: "'Innovation distinguishes between a leader and a follower.",
        name: "Steve Jobs",
        company: "Apple"
    }) %>

    <h2>Always learning/developing</h2>

    <p>Knowledge development is central to our company. There is no leaning back when you’re a front-runner in a hyper-dynamic
        branch. We organize workshops, congresses and meet-ups to bring our own developers, clients and the growing
        frontend community in the Netherlands up to speed with the latest developments.</p>
</div>

<%- include('./_components/medium', {
    classNames: "u-mb-none",
    title: "Art of debugging with Chrome DevTools",
    image: "https://cdn-images-1.medium.com/max/2000/1*K2Utn78MaVzlUeIagOEZRg.png",
    url: "https://medium.com/frontmen/art-of-debugging-with-chrome-devtools-ab7b5fd8e0b4",
    excerpt: "Chrome DevTools come with an array of features that help developers debug their apps effectively, and therefore find and fix the bugs faster. There are a lot of power tools in devtools which are not quite well-known amongst the developers."
}) %>
