///*----------------------------------*\
//  #COLORS
//\*----------------------------------*/

// Set up a colour palette which allows us to theme the entire project from one
// location.

// Colour palette.

$color-brand-primary: #ef642b;
$color-brand-secondairy: #57c9ca;
$base-color: #1f1e32;
$grey: #797884;
$light-grey: #a5a5ad;
$lightest-grey: #e6e6e6;
$white: #fff;
$text-color: $base-color;
