/*------------------------------------*\
  #LIST-INLINE
\*------------------------------------*/

.o-list-inline {
  margin:  0;
  padding: 0;
  list-style: none;
  &__item {
    display: inline-block;
  }
}