/* ==========================================================================
   #LIST-BARE
   ========================================================================== */

/**
 * Strip list-like appearance from lists by removing their bullets and any
 * indentation.
 *
 * Note: Declaring the item class might not be necessary everywhere,
 * but is for example in <dl> lists for the <dd> children.
 */

.o-list-bare {
  list-style: none;
  margin-left: 0;
  &__item {
    margin-left: 0;
    &--secondary-bullet {
      background-image: url(#{$baseURL}/img/asterisk.svg);
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 16px;
      padding-left: $global-spacing-unit;
    }
  }
}
