/*------------------------------------*\
  #WRAPPERS
\*------------------------------------*/

.o-wrapper, .o-wrapper-content {
  @include clearfix();
  position: relative;
  padding-right: $global-spacing-unit;
  padding-left: $global-spacing-unit;
  margin-right: auto;
  margin-left: auto;
}
.o-wrapper {
  max-width: $global-max-width;
}

.o-wrapper-content {
  max-width: $global-max-width-content;
}
