/*------------------------------------*\
  # GLOBAL PAGE STRUCTURE
\*------------------------------------*/
$layout-header-height: 90px;
$layout-navigation-width: 400px;

.o-layout {
  display: flex;
  min-height: 100%;
  flex-direction: column;

  &__header,
  &__main,
  &__navigation,
  &__footer {
    transition: transform .3s ease-in-out;
  }

  &__header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: $layout-header-height;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
  }

  &__navigation {
    position: fixed;
    height: 100vh;
    width: $layout-navigation-width;
    transform: translateX($layout-navigation-width * -1);
    transition: transform .3s ease-in-out;
    z-index: 2;
  }

  &__main {
    flex: 1;
    margin-top: $layout-header-height;
  }

  &__footer {

  }
}

.o-layout--open {
  .o-layout__navigation {
    transform: translateX(0);
  }

  .o-layout__header,
  .o-layout__main,
  .o-layout__footer {
    transform: translateX($layout-navigation-width);
  }

  .o-layout__header {
    opacity: .75;
  }
}
