/*------------------------------------*\
  #WRAPPERS
\*------------------------------------*/

.o-wrapper {
  @include clearfix();
  max-width: $global-content-max-width;
  padding-right: $global-spacing-unit;
  padding-left: $global-spacing-unit;
  margin-right: auto;
  margin-left: auto;
}
