.c-page-header {
  background-color: $color-page-head-background;
  display: flex;
  align-items: center;
  padding: $global-spacing-unit-tiny;

  @include mq($from: tiny) {
    padding: $global-spacing-unit-small;
  }

  &__title {
    @include font-family(accent);
    @include font-size($font-size-h3);
    @include truncate();
    flex: 1;
    text-transform: uppercase;
    color: $color-page-head;
    margin: 0 0 0 $global-spacing-unit;

    &-sub {
      color: $color-page-head-sub;
    }
  }

  &__logo {
    flex: 0 1;
    height: 100%;

    img {
      height: 100%;
      max-height: 100%;
      width: auto;
      max-width: none;
    }
  }
}
