.c-address__grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.c-address {
  flex: 1;
  flex-basis: 33.33%;
  margin-bottom: $global-spacing-unit;

  &__name {
    @include font-size($font-size-h4);
    color: $color-brand-primary;
  }

  &__street,
  &__region,
  &__phone,
  &__mail {
    display: block;
    white-space: nowrap;
  }

  &__street {}
  &__region {}
  &__phone {}
  &__mail {}
}
