.c-blockquote {
  color: $color-brand-primary;
  padding-top: 1.5rem;

  &__content {
    @include font-size($font-size-h2);
  }

  $line-width: 2px;

  &__footer {
    position: relative;
    border-top: solid $line-width $color-brand-primary;
    padding-top: $global-spacing-unit-large;

    $arrow-size-outer: $global-spacing-unit-large;
    $arrow-size-inner: ($global-spacing-unit-large - ($line-width * 1.5));
    $arrow-left-offset: 25%;

    &:before, &:after {
      content: '';
      position: absolute;
      top: $line-width * -1;
      left: $arrow-left-offset;
      border-style: solid;
      border-width: $arrow-size-outer $arrow-size-outer 0 0;
    }

    &:before {
      border-color: $color-brand-primary transparent transparent transparent;
    }

    &:after {
      border-color: $color-white transparent transparent transparent;
      top: ($line-width * 2) * -1;
      left: calc(#{$arrow-left-offset} + #{$line-width});
      border-width: $arrow-size-inner $arrow-size-inner 0 0;
    }
  }
}
