.c-page-footer {
  background-color: $color-page-head-background;
  padding: $global-spacing-unit-small;
  display: flex;
  justify-content: center;

  @include mq($from: tiny) {

  }

  @include mq($from: small) {

  }

  &__logo {
    font-size: 0;
    height: 60px;

    img {
      height: 100%;
      max-height: 100%;
      width: auto;
    }
  }
}
