.c-page-navigation {
  display: flex;
  align-items: flex-start;
  background-color: $color-page-head-background;
  padding: $global-spacing-unit;

  &__close {

  }

  &__list {
    list-style: none;
    margin: 0 0 0 $global-spacing-unit;
    flex: 1;
  }
  &__list-item {
    margin-left: 0;
  }

  &__link {
    display: block;
    color: $color-menu-item;
    padding: $global-spacing-unit $global-spacing-unit-small;
    @include font-family(accent);
    @include font-size($font-size-h3);
    @include font-weight(normal);
    text-transform: uppercase;

    &:first-child {
      margin-top: $global-spacing-unit * -1;
    }

    @at-root {
      a#{&} {
        @include hocus {
          text-decoration: none;
          color: $color-menu-item-hover;
        }
      }
    }
  }

  &__list &__list &__link {
    @include font-size($font-size-h4);
  }

  &__logo {
    position: absolute;
    bottom: $global-spacing-unit;
    max-width: 60%;
    height: auto;
  }
}
