.c-more-info-section {
  background: $color-contact-section;
  padding: ($global-spacing-unit-huge * 2) 0 $global-spacing-unit-large 0;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__title {
    display: block;
    @include font-size($global-font-size);
    margin-bottom: $global-spacing-unit;
    text-transform: uppercase;
  }

  &__author {
    @include font-size($global-font-size, 2);
    font-style: normal;
    margin-right: $global-spacing-unit-large;

    > * {
      display: block;
    }

    em {
      font-style: normal;
    }
  }

  &__avatar {
    order: -1;
    margin-right: $global-spacing-unit-large;
    width: 200px;
  }

  &__tags {
    flex: 1;
  }

  $tag-height: 30px;

  &__tag {
    position: relative;
    display: inline-block;
    background: $color-brand-secondary;
    height: $tag-height;
    min-width: 50px;
    text-align: center;
    padding: 0 $global-spacing-unit-tiny;
    margin: 0 $global-spacing-unit $global-spacing-unit-small $global-spacing-unit;
    color: $color-white;

    &:before, &:after {
      content: '';
      position:absolute;
      width: 0;
      height: 0;
    }

    &:before {
      left: -20px;
      border-style: solid;
      border-width: ($tag-height / 2) 20px ($tag-height / 2) 0;
      border-color: transparent $color-brand-secondary transparent transparent;
    }

    &:after {
      right: -20px;
      border-style: solid;
      border-width: ($tag-height / 2) 0 ($tag-height / 2) 20px;
      border-color: transparent transparent transparent $color-brand-secondary;
    }
  }
}
