
// Page footer
.c-page-footer {
  background-color: $color-page-footer-background;
  color: $color-page-footer;
  padding-top: $global-spacing-unit-large;


  @include mq($from: tiny) {

  }

  @include mq($from: small) {

  }

  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include mq($from: tiny) {
      flex-direction: row;

    }
  }
  &__content-item {
    flex-grow: 1;
    width: 100%;
  }

  &__title {
    color: $color-page-footer-title;
    @include font-weight(bold);
    @include font-size($font-size-h4);
  }
    
  &__list {
    li {
      margin-bottom: $global-spacing-unit-small;
    }
    a {
      @include font-weight(normal);
    }
  }

  &__logo {
    font-size: 0;
    height: 60px;
    text-align: center;
    margin-bottom: $global-spacing-unit;

    img {
      height: 100%;
      max-height: 100%;
      width: auto;
    }
  }
}

.c-page-foot {
  padding: $global-spacing-unit;
  background-color: $color-page-foot-background;
  color: $color-page-foot;
}
