///*----------------------------------*\
//  #GLOBAL
//\*----------------------------------*/

// Project-level settings and setup.

// Base typographical styles and baseline grid.
$global-font-size: 16px !default;
$global-line-height: 22px !default;

// Standardise some UI treatments.
$global-radius: 3px !default;
$global-transition: 0.333333333s !default;

////////////////////////////////////////////////////////////////////////////////
//                                                                            //
//                               W A R N I N G                                //
//                                                                            //
////////////////////////////////////////////////////////////////////////////////

// Private/framework-only reassignment. Do not alter anything below.
$global-spacing-unit: round($global-line-height);
$global-spacing-unit-tiny: round($global-spacing-unit / 4);
$global-spacing-unit-small: round($global-spacing-unit / 2);
$global-spacing-unit-large: round($global-spacing-unit * 2);
$global-spacing-unit-huge: round($global-spacing-unit * 4);

$global-content-max-width: 1280px;

// Sanity check, make sure spacing and line height match
@if ($global-spacing-unit != $global-line-height) {
  @error "The value of `$global-spacing-unit` must not be changed.";
}

$baseURL: "";

@if (config(env) == prod) {
  $baseURL: "https://frontmen.github.io/frontmen.nl";
}
