/*------------------------------------*\
  #SPACINGS
\*------------------------------------*/

.u-mb-none {
  margin-bottom: 0;
}

.u-mb-tiny {
  margin-bottom: $global-spacing-unit-tiny;
}
.u-mb-small {
  margin-bottom: $global-spacing-unit-small;
}

.u-mb-normal {
  margin-bottom: $global-spacing-unit;
}

.u-mb-large {
  margin-bottom: $global-spacing-unit-large;
}

.u-mb-huge {
  margin-bottom: $global-spacing-unit-huge;
}
