---
title: Careers
image: about-fm.png
---
<div class="o-wrapper c-page-intro">
    <h1 class="c-page-intro__title">Senior Frontend Developer</h1>
    <p class="c-page-intro__excerpt">We are always on the look out for talented code craftsmen to come and join us in our quest to build groundbreaking new technology for our clients.</p>
</div>

<%- include('./_components/featured', {
    title: "Come work with us",
    image: "laptops.png"
}) %>

<div class="o-wrapper-content u-mb-large">
    <p>You love to create delightful web applications. A browser is not just a rendering tool, it's your medium of choice. You can position yourself in frontend, backend or somewhere in between. You know how to build a smooth single-page app from the ground up in e.g. React, Vue, or Angular. You know what it takes to have your client talk with a back-end over via REST or GraphQl, and even create one when needed. You're no stranger to HTML and CSS, or looking up DOM elements and setting breakpoints in Chrome's DevTools.</p>
    <p>You like to keep yourself up-to-date on the latest happenings in the web development scene. You've probably come across technologies such as Redux, Elm, TypeScript, RxJS, Cycle.js or Purescript. Maybe you've even tried running your app on React Native to see how it compares to the web. You can appreciate high-quality web craftsmanship, good open-source libraries and tools. You might have published a Node module or contributed to one.</p>
    <p>What matters, in the end, is being able to solve your customers' problems elegantly, continuously learn new things, challenge yourself, and have fun while doing it.</p>
</div>

<div class="o-wrapper-content">
  <%- include('./_components/image', {
      title: "in knowledge we trust",
      image: 'about-fm.png'
  })%>
</div>

<div class="o-wrapper-content">
    <p>We want you to love your job, and we'll do our best to make sure you do. We offer you an extremely interesting job at one of the world's best workplaces. We believe in good working conditions and atmosphere. You are going to meet some of the nicest and smartest people, from all over the world including several world-class stars. On top of the competitive compensation, the company offers employees a lot of trust and power to affect their own work.</p>
    <p>We know we've built something special, and we're proud of it. A lot of our employees finally found a place where they can achieve their personal and professional goals. We believe that a good engineering culture and happy people is what it takes to be the market leader in frontend specialists. Everyone is encouraged to contribute and shape the future of our company. Many of us value the excellent work/life balance, and the fact that the company genuinely wants to have a positive impact on the society around it.</p>
    <p class="u-mb-huge">We offer you a great workplace with awesome colleagues and interesting projects with our cool and well-known customers: for example Nike, ING, Jumbo, Ebay, Ahold. You will be working primarily in Utrecht or Amsterdam. We also provide state-of-the-art tools, as well as great possibilities for continuous learning and professional growth. We want to help you develop your ideas into reality.</p>

    <div class="c-more-info-section__content">
        <address class="c-more-info-section__author">
            <strong class="c-more-info-section__title">Want to work with us?</strong>
            <em>Call or mail us!</em>
            <a href="tel:0302658108">030 - 26 58 108</a>
            <a href="mailto:recruitment@frontmen.nl">recruitment@frontmen.nl</a>
        </address>
        <img class="c-more-info-section__avatar" src="<%= site.baseURL %>/img/frontdesk-avatar.png" alt="Contact Remco for" />
    </div>
</div>

<%- include('./_components/medium', {
    classNames: "u-mb-none",
    title: "React Hooks — Why and How",
    image: "https://cdn-images-1.medium.com/max/2600/1*-Ijet6kVJqGgul6adezDLQ.png",
    url: "https://medium.com/frontmen/react-hooks-why-and-how-e4d2a5f0347",
    excerpt: "Recently the React team decided to bring Hooks into our lives. I am pretty sure that you have heard of Hooks, though there are still a lot of people that haven’t taken the time or gotten the chance to experiment with them."
}) %>
