---
title: Contact
---
<div class="o-wrapper c-page-intro">
    <h1 class="c-page-intro__title">You can always mail us or give us a call...</h1>
</div>

<div class="o-wrapper">
    <%- include('./_components/image', {
        title: "some title here",
        image: "welcome.jpg"
    }) %>
</div>

<div class="o-wrapper-content u-mb-huge">

    <h2 class="u-h4">You can find us in Amsterdam, Utrecht and Eindhoven</h2>

    <div class="c-address__grid">
        <div class="c-address">
            <h3 class="c-address__name">Amsterdam</h3>
            <span class="c-address__street">Meeuwenlaan 98</span>
            <span class="c-address__region">1021 JL Amsterdam</span>
            <a class="c-address__phone" href="tel:0302658108">030 - 26 58 108</a>
            <a class="c-address__mail" href="mailto:info@frontmen.nl">info@frontmen.nl</a>
        </div>
        <div class="c-address">
            <h3 class="c-address__name">Utrecht</h3>
            <span class="c-address__street">Tractieweg 41 (Studio B)</span>
            <span class="c-address__region">3534 AP Utrecht</span>
            <a class="c-address__phone" href="tel:0302658108">030 - 26 58 108</a>
            <a class="c-address__mail" href="mailto:info@frontmen.nl">info@frontmen.nl</a>
        </div>
        <div class="c-address">
            <h3 class="c-address__name">Eindhoven</h3>
            <span class="c-address__street">Frederiklaan 10e</span>
            <span class="c-address__region">5616 NH Eindhoven</span>
            <a class="c-address__phone" href="tel:0302658108">030 - 26 58 108</a>
            <a class="c-address__mail" href="mailto:info@frontmen.nl">info@frontmen.nl</a>
        </div>
    </div>

</div>
