---
title: Frontend first
---

<div class="o-wrapper c-page-intro">
    <h1 class="c-page-intro__title">It takes an expert to do an excellent job</h1>
    <p class="c-page-intro__excerpt">In a modern application, the frontend completely determines the user experience. It goes without saying that nothing
        should go wrong there. Everything needs to be coded in such a way that the app works great and feels fantastic. Anytime
        and anywhere, on all devices, in any browser and on any platform. In addition, the code should be logical and well-organized,
        fit into the existing enterprise architecture and, furthermore, be of a level of quality that is easy to maintain and
        conforms to security and performance requirements.</p>
</div>

<div class="o-wrapper">
    <%- include('./_components/image', {
        title: "Our Frontend Experts",
        image: "js-and-frontend.png"
    }) %>
</div>

<div class="o-wrapper-content">

    <%- include('./_components/blockquote', {
        quote: "Any application that can be written in JavaScript, will eventually be written in JavaScript",
        name: "Jef Atwood",
        company: "founder Stack overflow"
    }) %>

      <p>Frontmen focuses 100% on frontend architecture and development. The software we program is of such complexity, and
        the innovations succeed each other at such a pace, that this is not a job you do on the side. Our developers and
        architects are highly skilled. They live and breathe JavaScript. With a single goal in mind: translating top-notch
        techniques into new opportunities for our clients, with the shortest possible time to market.</p>

</div>

<%- include('./_components/medium', {
    classNames: "u-mb-none",
    title: "Art of debugging with Chrome DevTools",
    image: "https://cdn-images-1.medium.com/max/2000/1*K2Utn78MaVzlUeIagOEZRg.png",
    url: "https://medium.com/frontmen/art-of-debugging-with-chrome-devtools-ab7b5fd8e0b4",
    excerpt: "Chrome DevTools come with an array of features that help developers debug their apps effectively, and therefore find and fix the bugs faster. There are a lot of power tools in devtools which are not quite well-known amongst the developers."
}) %>
