---
keywords:
- frontmen
- front-men
- frontend
- foobar
---
<div class="c-masthead">
    <div class="o-headline  c-masthead__text">
        <h1 class="o-headline__main  c-masthead__title">Boost your business with cutting-edge app technology.</h1>
        <h2 class="o-headline__sub  c-masthead__sub">FrontMen helpt grote merken en bedrijven sneller en beter te innoveren, met state-of-the-art (web)applicaties.</h2>
    </div>
</div>

<div class="o-wrapper">
    <div>block1</div>
    <div>block2</div>
    <div>block3</div>
</div>
