<blockquote class="c-blockquote">
    <p class="c-blockquote__content"><%= quote %></p>
    <footer class="c-blockquote__footer">
        <cite>
            <strong><%= name %></strong><br />
            <%= company %>
        </cite>
    </footer>
</blockquote>
