<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/work">Work</a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="/knowledge">Knowledge</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
