/*------------------------------------*\
  #MENU BUTTON
\*------------------------------------*/

$menu-icon-height: 30px;

.c-menu-icon {
  &__fill {
    fill: $color-menu-icon;
    .c-page-head & {
      fill: currentcolor;
    }
  }
}
