---
title: Our work
---
<div class="o-wrapper">
    <h1>Work</h1>

    <ul class="o-list-bare">
        <li class="o-list-bare__item"><a href="<%= site.baseURL %>/work/klm">KLM</a></li>
        <li class="o-list-bare__item"><a href="<%= site.baseURL %>/work/toon">Toon</a></li>
    </ul>
</div>
