---
title: Quby
layout: work
---

<div class="o-wrapper c-page-intro">
    <h1 class="c-page-intro__title">Toon smart thermostat</h1>
    <p class="c-page-intro__excerpt">Aenean sollicitudin, quam vel fermentum consectetur, nunc enim imperdiet ipsum, non scelerisque sem sapien non mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent mattis, turpis vel blandit volutpat, nulla nunc elementum nunc, nec ornare felis enim vitae nibh.</p>
</div>

<%- include('./_components/featured', {
    title: "Image caption here...",
    image: "toon_buurman_en_buurman.jpg"
}) %>

<div class="o-wrapper-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem doloribus eaque explicabo facere fugit nobis pariatur ullam unde voluptatum. A ad assumenda consequuntur dolore excepturi magni totam voluptatibus. Laboriosam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem doloribus eaque explicabo facere fugit nobis pariatur ullam unde voluptatum. A ad assumenda consequuntur dolore excepturi magni totam voluptatibus. Laboriosam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem doloribus eaque explicabo facere fugit nobis pariatur ullam unde voluptatum. A ad assumenda consequuntur dolore excepturi magni totam voluptatibus. Laboriosam.</p>
</div>
