---
title: Jumbo
layout: work
technologies:
- react
- redux
- jest
tags:
- jumbo
- app
- website
---

<div class="o-wrapper c-page-intro">
    <h1 class="c-page-intro__title">Building Jumbo a modern healthy online environment</h1>
    <p class="c-page-intro__excerpt">Jumbo wants to be the ideal supermarket. Every day they do their utmost to ensure 100% satisfied customers. Because that is what Jumbo is all about. they do this together with all their employees and parties with whom they collaborate. They continue to pay attention to the world in which we live. Because they want to be a good neighbor for our environment. Now and in the future.</p>
</div>

<%- include('./_components/featured', {
    title: "Jumbo online platform",
    image: "jumbo.jpg"
}) %>

<div class="o-wrapper-content">
    <h2>Our challenge</h2>
    <p>Shaping the future of online food retail is the challenge at the Jumbo Tech Campus. Whether it’s customer or employee facing, mobile or web oriented; Frontmen is involved in developing Jumbo’s online platforms.</p>

    <h2>Our approach</h2>
    <p>Last year Jumbo’s e-commerce turnover doubled and their omnichannel focus has enabled customers to get their groceries in an online shop next to the physical stores. This online part of Jumbo is driven by the Jumo Tech campus. A multidisciplinary and international organisation that has been set-up as an agile environment from the ground-up.</p>
    <p>Currently we are involved in the visual redesign of Jumbo.com. Next to this visual overhaul, we’re working with Jumbo on a new front-end architecture. The technical end goal is to disentangle front-end from the current monolithic system. Our developers play an important role in building a component library, living style guide and server-side rendering technology.</p>

    <h2>Our product</h2>
    <p>So far we’ve delivered:</p>
    <ul>
        <li>component library</li>
        <li>living style guide</li>
        <li>store planning tool</li>
        <li>wine guide</li>
        <li>beer guide</li>
    </ul>
    <p>And there will be much more to come.</p>

    <h2>The result</h2>
    <p>An online environment that is fast and user-friendly for both Jumbo’s consumer and business customers. In order to thrive in food experience, this online platform needs to swiftly handle campaigns, loyalty programs, recipes and grocery shopping.An online environment that is fast and user-friendly for both Jumbo’s consumer and business customers. In order to thrive in food experience, this online platform needs to swiftly handle campaigns, loyalty programs, recipes and grocery shopping.</p>
</div>
