/*------------------------------------*\
  #HEADINGS
  \*------------------------------------*/

/**
   * Simple default styles for headings 1 through 6.
   */

$font-size-h1: 44px !default;
$font-size-h2: 36px !default;
$font-size-h3: 28px !default;
$font-size-h4: 24px !default;
$font-size-h5: 20px !default;
$font-size-h6: 18px !default;

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-weight(normal);
}

h1 {
  @include font-size($font-size-h4);
  @include font-weight(bold);

  @include mq($from: small) { @include font-size($font-size-h3); }
  @include mq($from: medium) { @include font-size($font-size-h2); }
  @include mq($from: large) { @include font-size($font-size-h1); }
}

h2 {
  @include font-size($font-size-h5);
  @include font-weight(bold);

  @include mq($from: small) { @include font-size($font-size-h4); }
  @include mq($from: medium) { @include font-size($font-size-h3); @include font-weight(normal); }
  @include mq($from: large) { @include font-size($font-size-h2); }
}

h3 {
  @include font-size($font-size-h6);
  @include font-weight(bold);

  @include mq($from: small) { @include font-size($font-size-h5); }
  @include mq($from: medium) { @include font-size($font-size-h4); @include font-weight(normal); }
  @include mq($from: large) { @include font-size($font-size-h3); }
}

h4 {
  @include font-size($font-size-h4);
}

h5 {
  @include font-size($font-size-h5);
}

h6 {
  @include font-size($font-size-h6);
}
