<section class="o-wrapper-content c-page-intro">
  <article>
    <h1>Privacy statement Frontmen</h1>
    <h4>Version 31 May 2018</h4>
    <section>
      <p>
        You are currently visiting the FrontMen website. The website: www.frontmen.nl is property of
        FrontMen Group B.V. This privacy statement is made by Frontmen Group B.V, FrontMen B.V. and
        NonDutch B.V. (hereinafter: Frontmen or we).
      </p>
      <p>
        FrontMen considers your personal data and your privacy at the utmost importance. Our privacy
        statement explains what personal data we collect and how we process it.
      </p>
    </section>
    <section>
      <p>
        When processing data, the General Data Protection Regulation (GDPR) may apply. We refer to
        it further as the GDPR. The GDPR applies in the case of the fully or partially automated
        processing of personal data, but also to the manual processing of personal data included in
        a file or intended for recording therein. To determine whether the GDPR applies, the
        following questions are important:
      </p>
      <ol>
        <li>Is data processed?</li>
        <li>Is this data personal data?</li>
        <li>
          Is this data processed automatically fully or partially, or is it included in a file or
          intended to be included in a file?
        </li>
        <li>Is the data processing within the scope of the GDPR?</li>
      </ol>
    </section>
    <section>
      <h3>What is personal data?</h3>
      <p>
        Personal data may be any information relating to an identified or identifiable natural
        person. An identifiable natural person is one who can be identified, directly or indirectly,
        in particular by reference to an identifier such as:
      </p>
      <ul>
        <li>
          name and address
        </li>
        <li>
          date of birth and place
        </li>
        <li>
          phone number
        </li>
        <li>
          e-mail address
        </li>
        <li>
          bank account number
        </li>
        <li>
          identity card details (passport photo and citizen service number (BSN))
        </li>
      </ul>
    </section>
    <section>
      <h3>Processing targets: for what purposes do we process personal data?</h3>
      <p>FrontMen uses the data that is processed for:</p>
      <ul>
        <li>business management</li>
        <li>
          recruitment purposes
        </li>
        <li>delivery of products and services</li>
        <li>improvement of products and services</li>
        <li>events</li>
      </ul>
    </section>
    <section>
      <h3>Data collection</h3>
      <p>
        Personal data is shared with us by employees, potential employees, customers, prospects,
        suppliers or if you have contact with us. It can be collected when, for instance, you
        voluntarily submit it for when registering for FrontMen events or when applying for a job.
        We also obtain personal data by entering into agreements or through other business
        activities. These may be commercial project agreements for products or services, employment
        contracts, contracts for hiring in freelancers or temporary workers, subscriptions or
        licenses.
      </p>
    </section>
    <section>
      <h3>Basis for providing personal data</h3>
      <p>The provision of personal data is based on:</p>
      <ul>
        <li>a legitimate interest</li>
        <li>legal obligation and/or</li>
        <li>implementing the agreement in accordance with the aforementioned objectives</li>
        <li>permission</li>
      </ul>
      <p>
        FrontMen has added the applicable basis to its data processing register. The data processing
        register includes the following information:
      </p>
      <ul>
        <li>the name and contact details of the responsible individual;</li>
        <li>the purposes for which personal data is processed;</li>
        <li>
          the categories of personal data (such as name and address details, contact details,
          payment details);
        </li>
        <li>
          the categories of individuals involved (for example: customers, website visitors,
          employees);
        </li>
        <li>the categories of recipients (to whom is the data provided?);</li>
        <li>
          information about the potential transfer of personal data to countries outside the EU;
        </li>
        <li>the retention periods of the personal data;</li>
        <li>
          the ways in which personal data is secured (for example: encryption, access control,
          pseudonymization).
        </li>
      </ul>
    </section>
    <section>
      <h3>Accuracy, security and retention period of your personal data</h3>
      <p>
        Any personal data processed by FrontMen is kept on secure servers. FrontMen uses reasonable
        administrative, technical, and physical measures to safeguard personal data against loss,
        unauthorized access, use, disclosure, or modification and to ensure the integrity of the
        personal data. Additionally, FrontMen ensures to process your personal data only for the
        purposes mentioned in this privacy notice and to keep data no longer than necessary, unless
        this data is necessary for the fulfillment of a statutory or regulatory retention
        obligation.
      </p>

      <p>
        In addition to technical protection, people are also important. All our employees have a
        confidentiality clause in their contract. FrontMen also invests significantly in raising
        employee awareness in the area of information security and data privacy.
      </p>
    </section>
    <section>
      <h3>Your rights</h3>
      <p>
        You have the right to request access, rectification or erasure of your personal data. You
        may also have the right to ask for a portable format of your personal data or restrict or
        object to the processing of your personal data. To exercise these rights, please contact us
        at: info@frontmen.nl.
      </p>
    </section>
    <section>
      <h3>Personal data and digital media</h3>
      <p>
        When visiting our FrontMen website, there are no cookies installed on the computer. Please
        note that these settings are only valid for the pages created and owned by FrontMen. When we
        embody link to external websites like LinkedIn, Twitter etc. and you click on these links
        you leave our website and therefore the settings and policy applying to our website no
        longer applies. You should consider the new website cookies policy and settings.
      </p>
    </section>
    <section>
      <h3>Amendment</h3>
      <p>
        This privacy statement was published on 31 May 2018 and may be amended from time to time. We
        invite you to consult this page regularly.
      </p>
    </section>
  </article>
</section>
