<section class="o-wrapper">
  <article>
    <h1>Privacyverklaring FrontMen</h1>
    <h4>Versie 24 mei 2018</h4>
    <section>
      <p>
        Deze privacy verklaring geldt voor FrontMen Group B.V. gevestigd Utrecht, mede ten behoeve van Frontmen B.V. als NonDutch
        B.V. hierna tezamen te noemen: FrontMen of wij. In deze privacyverklaring leggen wij uit welke persoonsgegevens wij
        verzamelen en gebruiken en met welk doel.
      </p>
      <p>
        FrontMen is een door heel Nederland werkende organisatie. FrontMen detacheert JavaScript professionals zowel direct als indirect
        bij klanten en voelt zich verantwoordelijk voor de persoonsgegevens die, in vertrouwen en met een veilig gevoel,
        aan ons verstrekt zijn. Dit komt ook tot uitdrukking in ons privacy statement.
      </p>
      <h2>Het privacy statement van FrontMen</h2>
      <p>
        Iedereen heeft recht op een zorgvuldige omgang met zijn persoonsgegevens. FrontMen ondersteunt deze behoefte aan veiligheid
        en zekerheid van onze klanten, opdrachtgevers, medewerkers en relaties. FrontMen is integer, transparant en zorgvuldig
        met de in bewaring gegeven persoonsgegevens.
      </p>
      <p>
        Per 25 mei 2018 is de nieuwe privacy wet General Data Protection Regulation (GDPR) van toepassing. Dat betekent dat er vanaf
        die datum dezelfde privacywetgeving geldt in de hele Europese Unie (EU). Kort gezegd zijn alle bedrijven verplicht
        om meer inzicht te geven in de persoonsgegevens die zij verzamelen en hoe ze omgaan met die gegevens.
      </p>
      <p>
        De Nederlandse naam is AVG - Algemene Verordening Gegevensbescherming. De GDPR is een Europese wet die is opgesteld om de
        verschillen op het gebied van privacywetgeving binnen de EU gelijk te trekken. Belangrijkste doel van de GDPR is
        de inwoners van de EU controle over hun persoonsgegevens terug te geven en om de regels rondom privacy te vereenvoudigen
        en uniform te maken. De GDPR wordt vanaf 25 mei 2018 van kracht en is van toepassing op alle bedrijven/organisaties
        die persoonsgegevens verwerken van burgers binnen de EU.
      </p>
      <h2>Wat zijn persoonsgegevens?</h2>
      <p>
        Volgens de wet zijn persoonsgegevens alle informatie die betrekking heeft op een geïdentificeerd of identificeerbaar natuurlijk
        persoon (de betrokkene). Dus de combinatie van naam en geboortedatum, contactgegevens, een pasfoto zijn allemaal
        persoonsgegevens. Hiernaast kent de wet bijzondere persoonsgegevens; dit zijn gegevens die extra gevoelig zijn en
        extra beschermd moeten worden. Het gaat dan om bijvoorbeeld uw BSN nummer, gezondheids- of medische gegevens en de
        gegevens van kinderen.
      </p>
    </section>
    <section>
      <h2>Welke persoonsgegevens verzamelen we?</h2>
      <p>
        van medewerkers (en hun partners/kinderen), opdrachtgevers, bemiddelingsbureau’s, freelancers, leveranciers, sollicitanten
        en potentiële kandidaten. We gebruiken persoonsgegevens bijvoorbeeld voor het afsluiten van een detacheringsovereenkomst
        en het innen van de facturen of in onze rol als werkgever.
      </p>
      We verzamelen:
      <ul>
        <li>Volledige naam</li>
        <li>Geslacht</li>
        <li>Adres en postcode</li>
        <li>Telefoonnummer</li>
        <li>E-mailadres</li>
        <li>Geboortedatum en plaats</li>
        <li>Burgerlijke staa</li>
        <li>BSN-nummer</li>
        <li>Kleurenkopie van identiteitsbewijs</li>
        <li>Betalingsgegevens zoals bankrekening</li>
        <li>CV</li>
        <li>VOG verklaring en of een pre-employmentscreening</li>
        <li>Gegevens ten behoeve van verzekeringen en pensioenen</li>
        <li>Gegevens voor onze financiële systemen</li>
        <li>Van medewerkers gegevens over functioneren en beoordelen</li>
        <li>Van medewerkers gegevens van eventuele partners en kinderen</li>
        <li>Van medewerkers inkomensgegevens</li>
        <li>Van medewerkers kopie certificaten en diploma’s</li>
      </ul>
      <p>
        Het verwerken van uw persoonsgegevens door FrontMen is gebaseerd op (de intentie tot) het aangaan van een overeenkomst. Het
        komt voor dat wij voor een specifiek doel, uw expliciete toestemming vragen. Indien u toestemming verleent, kunt
        u uw toestemming eenvoudig weer intrekken door dit aan ons te melden.
      </p>
    </section>
    <section>
      <h1>Waarom hebben wij persoonsgegevens nodig?</h1>
      <p>
        FrontMen heeft persoonsgegevens nodig om ons werk goed te kunnen uitvoeren en afspraken (overeenkomsten) te kunnen nakomen.
        We gebruiken deze gegevens voor:
      </p>
      <ul>
        <li>Voeren van medewerkers administratie t.b.v. FrontMen</li>
        <li>Voeren van salarisadministratie</li>
        <li>Nakomen van wettelijke en fiscale verplichtingen</li>
        <li>Werven van nieuwe medewerker en het verwerken van sollicitaties</li>
        <li>Detacheren van eigen medewerkers, externe medewerkers en freelancers</li>
        <li>Afsluiten van lease overeenkomsten</li>
        <li>Afsluiten verzekeringen en pensioenen</li>
        <li>Onderzoek naar de kwaliteit van onze dienstverlening</li>
        <li>Intern beheer en sturing van de organisatie</li>
        <li>Uitvoeren van betalingen aan crediteuren</li>
        <li>
          Berekening van inkomsten en uitgaven en het laten uitvoeren van accountantscontrol
        </li>
      </ul>
    </section>
    <section>
      <h2>Hoe gebruiken en beschermen we persoonsgegevens? </h2>
      <p>
        We verwerken niet meer persoonsgegevens dan nodig voor onze werkzaamheden. Wij publiceren nooit zonder toestemming persoonsgegevens
        van medewerkers en andere relaties.
      </p>
      <h3>Geheimhouding</h3>
      <p>
        Iedereen die toegang heeft tot de persoonsgegevens gaat hier zorgvuldig mee om en is gebonden aan geheimhoudingsplicht zoals
        aangegeven in ons personeelshandboek van FrontMen.
      </p>
      <h3>Toegang tot gegevens</h3>
      <p>
        Alleen medewerkers die het echt nodig hebben voor hun werk hebben toegang tot persoonsgegevens en mogen deze inzien en verwerken
        voor zover nodig.
      </p>

      <h3>Bewaartermijnen</h3>
      <p>
        Persoonsgegevens worden niet langer bewaard dan de wettelijke bewaartermijnen. Daarna vernietigen we deze persoonsgegevens
        of bewaren we ze op een manier dat ze niet meer herleidbaar zijn tot een persoon.
      </p>

      <h3>Beveiliging</h3>
      <p>
        Wij nemen alle noodzakelijke organisatorische en technische beveiligingsmaatregelen die nodig zijn om misbruik van en ongeautoriseerde
        toegang tot persoonsgegevens te voorkomen.
      </p>

      <h3>Gegevens delen met andere organisaties</h3>
      <p>
        FrontMen gebruikt de verzamelde persoonsgegevens voor de eigen bedrijfsvoering. Daarvoor kan het nodig zijn om persoonsgegevens
        te delen met organisaties die voor ons werkzaamheden verrichten, of waarmee we samenwerken, zoals bijvoorbeeld opdrachtgevers,
        lease maatschappijen en verzekeringsmaatschappijen. Als een andere partij of instantie werk voor ons verricht, moet
        deze partij een verwerkersovereenkomst getekend hebben, waarin staat waarvoor ze deze gegevens ontvangen en mogen
        verwerken en hoe ze er mee om moeten gaan. Verder kunnen overheidsinstanties of instanties met een wettelijke taak
        informatie bij ons opvragen die we verplicht zijn om te delen.
      </p>
    </section>
    <section>
      <h2>Worden uw gegevens buiten de EU gebracht?</h2>
      <p>
        FrontMen heeft als uitgangspunt om persoonsgegevens alleen binnen de EU te verwerken. Aangezien de privacyverordening van
        toepassing is binnen de EU, kan daarmee in beginsel altijd een passend beschermingsniveau verzekerd worden.
      </p>
      <h2>Welke rechten heeft u?</h2>
      <p>
        Elke betrokkene (iedere natuurlijke persoon van wie persoonsgegevens worden verwerkt) heeft het recht op inzage, verbetering,
        aanvulling, verwijdering, afscherming, overdracht en het recht op verzet ten aanzien van de verwerking van zijn persoonsgegevens.
      </p>
      <h2>Verzoeken tot inzage</h2>
      <p>
        Verzoeken tot inzage kunnen via email bij FrontMen worden ingediend. Wanneer een verzoek tot inzage wordt gedaan krijgt de
        verzoeker een volledig overzicht van de verwerkte gegevens, de herkomst van de gegevens, de ontvangers van de gegevens
        en de doelen van de verwerking van de gegevens.
      </p>
      <p> De navolgende gegevens worden niet door FrontMen overlegd:</p>
      <ul>
        <li>Persoonlijke werkaantekeningen en notities voor intern gebruik</li>
        <li>Persoonsgegevens van derden</li>
        <li>
          Persoonsgegevens die worden gebruikt in het kader van de voorkoming, opsporing en vervolging van strafbare feiten en andere
          gevallen genoemd in de uitzonderingen van art. 23 AVG
        </li>
      </ul>
      <p>
        Voordat een verzoek tot inzage in behandeling wordt genomen moet de betrokkene zich eerst hebben geïdentificeerd.
      </p>
      <h2>Het recht van correctie</h2>
      <p>
        Indien de persoonsgegevens die wij van u verwerken niet juist zijn, hebt u het recht om deze aan te laten passen;
      </p>
      <h2>Het recht van verwijdering</h2>
      <p>
        Indien wij uw persoonsgegevens niet meer nodig hebben voor het doel waarvoor we ze hebben gekregen, hebt u het recht ons
        te vragen deze te verwijderen. Hier zijn een aantal uitzonderingen op, zoals onze plicht om bepaalde gegevens te
        bewaren voor onder andere de belastingdienst;
      </p>
      <h2>Recht van verzet</h2>
      <p>
        In verband met persoonlijke bijzondere omstandigheden kan een betrokkene in bij de wet geregelde gevallen verzet aantekenen
        tegen de verwerking van bepaalde gegevens. Het verzoek dient via email of schriftelijk en gemotiveerd te worden ingediend
        bij FrontMen. We beslissen binnen vier weken na ontvangst van het verzoek of het verzet gerechtvaardigd is. Indien
        het verzet gerechtvaardigd is dan beëindigen we direct de verwerking. FrontMen is niet verplicht gehoor te geven
        aan een verzet als het verstrekken van gegevens door FrontMen wettelijk verplicht is.
      </p>
      <h2>Het recht van bezwaar</h2>
      <p>
        Indien FrontMen gegevens verwerkt op grond van gerechtvaardigd belang of algemeen belang, is het mogelijk bezwaar te maken
        waarna een belangenafweging zal volgen.
      </p>
      <h2>Persoonsgegevens en digitale media</h2>
      <p>
        FrontMen verzamelt via haar website geen persoonsgegevens en maakt geen gebruik van bijvoorbeeld Cookies en Google Analytics.
        Wel is het mogelijk om FrontMen een email te sturen. De gegevens in deze email worden bewaard zolang als nodig is
        voor de volledige beantwoording en afhandeling van deze email. De persoonsgegevens die wij aangeleverd krijgen via
        email verwerken we volgens de richtlijnen zoals beschreven in deze privacyverklaring.
      </p>
      <h2>Autoriteit Persoonsgegevens</h2>
      <p>
        Natuurlijk helpen wij u graag verder als u klachten heeft over de verwerking van uw persoonsgegevens. Mocht u er desondanks
        toch niet samen met ons uitkomen, dan heeft u op grond van de privacywetgeving ook het recht om een klacht in te
        dienen bij de privacytoezichthouder; de Autoriteit Persoonsgegevens. U kunt hiervoor contact opnemen met de Autoriteit
        Persoonsgegevens.
      </p>
      <h2>Wijzigingen in deze privacyverklaring</h2>
      <p>
        FrontMen kan wijzigingen aanbrengen in deze privacyverklaring. Wij adviseren u daarom om deze regelmatig op onze website
        te bekijken. U blijft dan op de hoogte van wijzigingen.
      </p>
    </section>
  </article>
</section>