<aside role="contentinfo" class="c-contact-section">
    <div class="o-wrapper c-contact-section__content">
        <address class="c-contact-section__author">
            <strong class="c-contact-section__title">Want to know more?</strong>
            <em>Call or mail us!</em>
            <a href="tel:0302658108">030 - 26 58 108</a>
            <a href="mailto:info@frontmen.nl">info@frontmen.nl</a>
        </address>
        <img class="c-contact-section__avatar" src="https://placehold.it/100x100?text=Avatar" alt="Contact Remco for" />
    </div>
</aside>
