<footer role="contentinfo" class="c-page-footer o-layout__footer">
    <a href="<%= site.baseURL %>" class="c-page-footer__logo">
        <img src="<%= site.baseURL %>/img/fm-monogram-logo.svg" alt="Frontmen">
    </a>
</footer>

<script src="<%= site.baseURL %>/js/index.js"></script>
