<div class="o-wrapper">
    <div class="c-badge-bar">
        <% page.technologies.forEach(function(tech){ %>
            <%- include('../_components/badge', { type: "tech", name: tech }) %>
        <% }); %>
    </div>
</div>
